# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env/
env/
ENV/


# Data
data/raw/*.csv
*.csv
cleaned_data.csv
data_with_summaries.csv

# Models (too large for git)
models/*.npy
models/*.bin
models/*.index
models/redone
models/redone/again/embeddings.npy
models/redone/again/faiss_index.bin
models/redone/faiss_index_no_claims.bin
models/redone/faiss_index.bin
models/redone/faiss_no_claims_index.bin



# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/./models/faiss_index.bin
./models/embeddings.npy
./models/faiss_no_claims_index.bin
./models/faiss_index_no_claims.bin
./venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib
./venv/lib/python3.12/site-packages/numpy/.dylibs/libopenblas64_.0.dylib
./venv/lib/python3.12/site-packages/scipy/.dylibs/libscipy_openblas.dylib
